body {
    background-color: white;
    color: #fff;
    text-align: center;
}
.container {
    max-width: 900px;
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    color: #000;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.5;
    color: #555;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    border-radius: 30px;
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
    word-wrap: break-word; /* Permite el ajuste de palabras largas */
    text-align: center; /* Centra el texto */
}


.navbar-custom {
    background-color: white;
    padding: 10px;
}
ul {
    padding-left: 0;
    list-style-type: none;
}
hr {
    border: 1px solid #D6D0D0;
    margin: 20px 0;
}
.botones {
    margin-bottom: 5px;
    max-width: 100%;
    height: auto !important;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    /* border: 1px solid transparent; Establece un borde transparente */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave para los cambios */
}

.botones:focus,
.botones:hover,
.botones:active {
    border-color: transparent; /* Asegúrate de que el borde no cambie */
    outline: none; /* Elimina el contorno del enfoque */
}