*{
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #dee9ff;
}

.registration-form {
    padding: 50px 0;
}

.registration-form .formulario-container {
    background-color: #fff;
    max-width: 1100px;
    margin: auto;
    padding: 50px 50px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

/* Form icon */
.registration-form .form-icon {
    text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 100px;
}

/* Input fields */
.registration-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
    border: 1px solid #d1d1d1;
    transition: border-color 0.3s ease;
}

.registration-form .item:focus {
    border-color: #5891ff;
    box-shadow: 0 0 5px rgba(88, 145, 255, 0.5);
}

/* Button */
.registration-form .cargar {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    /* font-weight: bold; */
    background-color: #1aa321;
    border: none;
    color: white;
    /* margin-top: 20px; */
    transition: background-color 0.3s ease;
}

.registration-form .cargar:hover {
    background-color: #35c710;
}

/* Labels and headings */
.registration-form .form-label {
    font-size: 20px;
    /* font-weight: bold; */
    color: #333;
    margin-bottom: 10px;
}

/* Checkboxes and radio buttons */
.form-check {
    margin-bottom: 15px;
}

/* Custom styling for radio buttons and checkboxes */
.form-check-input {
    margin-right: 10px;
    transform: scale(1.2);
}

/* Hover effect */
.form-check-input:hover {
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 576px) {
    .registration-form .formulario-container {
        padding: 50px 20px;
    }

    .registration-form .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
    
    .cargar {
        font-size: 16px;
        padding: 10px;
    }

    .wrapper .box {
        padding: 15px;
    }

    .wrapper-anexov {
        margin-top: 30px;;
    }

    /* Asegurando que los botones no se sobrepongan entre sí */
    .registration-form .btn {
        margin-top: 10px;
    }
}

/* Contenedor para los dos .wrapper */
.form-group-flex {
    display: flex;
    justify-content: space-between; /* Para distribuir el espacio entre los contenedores */
    gap: 20px; /* Espacio entre los dos contenedores */
}

/* Ajustar el tamaño de los .wrapper */
.wrapper {
    flex: 1; /* Hace que los dos contenedores tomen el mismo espacio */
    max-width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}

.wrapper .title{
  color: #fff;
  line-height: 65px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}

.wrapper .box{
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
}

.wrapper .box label{
    display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    cursor: default;
    transition: all 0.3s ease;
}
  
.wrapper .box label:hover{
    background: #EDF7FC;
    cursor: pointer;
}
    
#obraSi:checked ~ .obraSi,
#obraNo:checked ~ .obraNo
{
  background: #333;
  border-color: #333;
}

.wrapper .box .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}

#obraSi:checked ~ .obraSi .dot,
#obraNo:checked ~ .obraNo .dot
{
  background: #fff;
}

.box label .dot::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#obraSi:checked ~ .obraSi .dot::before,
#obraNo:checked ~ .obraNo .dot::before
{
  background: #333;
  transform: translate(-50%, -50%) scale(1);
}

.wrapper .box label .text {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    transition: color 0.3s ease;
  }
  
#obraSi:checked ~ .obraSi .text,
#obraNo:checked ~ .obraNo .text
{
  color: #fff;
}

.wrapper .box input[type="radio"] {
  display: none;
}

.wrapper .box input[type="checkbox"] {
    display: none;
}
  
@media (max-width: 768px) {
  .form-group-flex {
      flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
  }
  
  .wrapper {
      margin-bottom: 20px; /* Espaciado entre los wrappers cuando están apilados */
      max-width: none; /* Permite que tome el 100% del ancho disponible */
  }
}