/* General */

tr{
    border: 1px solid black;
    background-color: white;
}
td{
    border: 1px solid black;
    background-color: #EBF5FB;
    text-align: center;
}


.borde{
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
}
textarea{
    background-color: white;
}
.clas{
    background-color: #FDEDEC;
}
.cla{
    background-color: #EAFAF1;
}
.lol{
    border-color: green;
}


button{
    width: 200px;
    height: 50px;
    background-color: rgb(140, 233, 0);
    border: 2px solid green;
}
button:hover{
    background-color: green;
    border: 2px solid rgb(140, 233, 0);
}
#scro{
    overflow-x: auto;
}


