/* Estilos para centrar el contenedor */
.borde {
    margin: 0 auto; /* Centra horizontalmente */
    float: none; /* Elimina cualquier alineación previa */
    border: 2px solid black;
}
.etiqueta {
    font-weight: bold;
    margin-bottom: 5px;
}



@media (min-width: 768px) {
    .borde {
        max-width: 720px; /* Limita el ancho del contenedor en pantallas grandes */
    }
}

/* Estilos para pantallas más pequeñas, como teléfonos */
@media screen and (max-width: 730px) {
    .borde {
        /* Estilos que deseas aplicar cuando el ancho de la pantalla sea <= 730px */
        border: 2px solid black;
        padding: 10px;
    }
}
