body{
	font-family: Arial, Helvetica, sans-serif;
}
#container .col-6 {
  border: 1px solid rgb(0, 0, 0);
}

#container .abru {
  border: 3px solid rgb(0, 0, 0);
  margin-left: 20%;
  margin-right: 20%;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 120%;
}

#n1 {
  color: blueviolet;
  float: right;
}

#container .formPersonal span {
  display: block;
  margin-bottom: 20px;
}

#container .formPersonal .labelsex {
  padding: 6px 30px;
  border-radius: 20px;
  border: 2px solid #ccc;
}

#container .boxSexo:checked + label {
  background: purple;
  color: white;
  border: 2px solid purple;
}
